
    
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">
          Home
        </a>
        <a class="navbar-item" routerLink="/purpose">
          Our Purpose
        </a>
        <a class="navbar-item" routerLink="/photos">
          Photos
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            example
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/contact">
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>

  </nav>
