<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contact us!<br><br></h1>
        </div>
        <p class="subtitle">Mailing Address:</p>
          <p>PO Box 123
             Columbus, OH 43301<br><br></p>
        <div class="columns">
            <div class="column">
              
                <p class="subtitle">Info:</p>
                
                <table>
                    <tr><td><b>President:</b> </td></tr>
                    <tr>
                        <td>Kimbery</td>
                        <td><a href="tel:740-123-1234">740-123-1234</a></td>
                    </tr>
                    <tr><br></tr>
                    <tr><td><b>Vice President:</b></td></tr>
                    <tr>
                        <td>The Dog</td>
                        <td><a href="tel:740-123-1234">740-123-1234</a></td>
                    </tr>
                  </table>
            </div>
            <div class="column">
                <br><br>
              <table>
                  <tr><td><b>More Info:</b></td></tr>
                <tr>
                    <td>Chips and Dips</td>
                </tr>
          </table>
        </div>
        </div>
    </div>
</section>
