<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <section class="container has-text-centered">
        <p class="title">The Machines</p>
      </section>
    </div>
</section>
<section class="hero is-info">
    <div class="hero-body">
        <swiper [config]="config">
            <ng-template swiperSlide>
                <img src="/assets/img/photos/1.JPG" alt="img 1">
            </ng-template>
            <ng-template swiperSlide>
                <img src="/assets/img/photos/2.JPG" alt="img 2">
            </ng-template>
            <ng-template swiperSlide>
                <img src="/assets/img/photos/3.JPG" alt="img 3">
            </ng-template>
        </swiper>
    </div>
</section>
<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <section class="container has-text-centered">
        <p class="title">The Home Base</p>
      </section>
    </div>
</section>
<section class="hero is-info">
    <div class="hero-body">
        <swiper [config]="config">
            <ng-template swiperSlide>
                <img src="/assets/img/photos/1.JPG" alt="img 1">
            </ng-template>
            <ng-template swiperSlide>
                <img src="/assets/img/photos/2.JPG" alt="img 2">
            </ng-template>
            <ng-template swiperSlide>
                <img src="/assets/img/photos/3.JPG" alt="img 3">
            </ng-template>
        </swiper>
    </div>
  </section>