<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <section class="container has-text-centered">
      <p class="title">Starfish Embroidery Inc</p>
      <p class="subtitle">Columbus, Ohio</p>
      <p class="subtitle">Designing awesomeness everyday</p>

    </section>
  </div>
</section>
<br>

<section class="hero is-info">
  <div class="hero-body">
    <section class="container">
      <div class="columns"> 
        <div class="column" style="width: 400px; margin:auto">
          <swiper [config]="config">
            <ng-template swiperSlide>
              <img src="/assets/img/homepage/001.jpg" alt="img 1">
            </ng-template>
            <ng-template swiperSlide>
              <img src="/assets/img/homepage/002.jpg" alt="img 2">
            </ng-template>
            <ng-template swiperSlide>
              <img src="/assets/img/homepage/003.jpg" alt="img 3">
            </ng-template>            
          </swiper>
          
        </div>

        <div class="column">
          <p style="text-align: left;">
            We are a blah blah.. fill in
          </p><br>
          <ol type="i" style="padding-left: 20px;">
            <li>bullet 1</li>
            <li>bullet 2</li>
          </ol><br>
          <p style="text-align: left;">
            For more of what we have to offer use the navigation links.
          </p>
        </div>

      </div>
    </section>
  </div>
</section>