<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <section class="container has-text-centered">
      <p class="title">
        OUR PURPOSE
      </p>
      <p style="text-align: left;">
        OUR PURPOSE
      </p>
    </section>
    </div>
  </section>
  <section class="hero is-info">
    <div class="hero-body">
        <p class="title has-text-centered">
          THE PURPOSE 
        </p>
          <ol type="i">
            <li>bullet 1</li>
            <li>bullet 2</li>
          </ol>      
      </div>
      <div class="hero-body">
        <p class="title has-text-centered">
            MORE
        </p>
        <p>
            Fill in
        </p>    
      </div>
      <div class="hero-body">
        <p class="title has-text-centered">
            THE CODE 
        </p>
        <ol type="I">
          <li>bullet 1</li>
          <li>bullet 2</li>
        </ol>
    </div>
  </section>